*.keras filter=lfs diff=lfs merge=lfs -text
Plant[[:space:]]Disease[[:space:]]Prediction[[:space:]]with[[:space:]]transfer[[:space:]]learning/backend/artifacts/*.keras filter=lfs diff=lfs merge=lfs -text
Plant[[:space:]]Disease[[:space:]]Prediction[[:space:]]with[[:space:]]transfer[[:space:]]learning/backend/artifacts/VGG_net_kaggle.keras filter=lfs diff=lfs merge=lfs -text
